/*start classes with a period --> .className { CSS code }*/
/*CASCADING --> most specific rule is applied to all elements
	- national law -> state > town > house rules == house rules applied to all (nationally)
	- rules are applied not only to elements they directly match, but also to all of those elements' child elements. 
	- However, if a child element has multiple, overlapping rules defined for it, the more specific rule takes effect.

ID a class or a tag of the element to find (or match, in CSS terminology), and then what you want to do with it, or what property values to replace with different ones.

It also matters where you define the rules and in what order they are applied. 
	- Styles can be defined in different places and are applied in the following order, with definitions further down the list overwriting previous definitions:
		- the default style of a browser (different browsers have slightly different styles)
		- stylesheet in a separate file (lie styles.css --> this is what you will be mostly using)
		- stylesheet inside HTML (this can be done for small projects but is not ideal)
		- inline style in an element (this can also be done but should be avoided)*/

		/*ID SELECTOR --> most powerful selector type --> beat out other types --> typically bad b/c we want lower-specificity selectors
#happy-cake {

}


TAG SELECTOR
h2 {
}*/

* {
   outline: 1px solid red !important; /*all boxes have red outlines*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/*flexible parent display so that child elements can be positioned (img and description)*/	
.app {
	display: -webkit-flex;
	display: flex;
}

/*description class SELECTOR --> rule applies to all description HTML tags on the page
		- can combine selectors, such as to select all links w/in an element w/ ARTICLE CLASS*/
.description {
	/*attribute:value*/
	color:blue
}


